{% extends 'admin/preferences.html' %}

{% block content %}

    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="table table-hover table-responsive table-bordered">
                    <thead class="table-primary">
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Created_on</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in contacts %}
                          <tr>
                            <td>{{ c.name }}</td>
                            <td>{{ c.email }}</td>
                            <td>{{ c.subject }}</td>
                            <td>{{ c.created_on }}</td>
                            <td><a href="{% url 'contact-details' c.id %}" class="btn btn-success">Details</a></td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

{% endblock %}