{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 m-auto">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <img src="{{ a_obj.image.url }}" alt="Author Photo" style="height: 400px; width: 500px;"><br><br>
                        <h3>{{ a_obj.name }}</h3> 
                        <small><b>Email:</b> {{ a_obj.email }}</small> <br>
                        <small><b>Website:</b> {{ a_obj.website }}</small> <hr>
                        <p>{{ a_obj.details }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}